{
    "lang": "en",
    "moderationGroupId": -1000000000000,
    "approvedGroupId": -1234567890123,
    "moderationTopicId": 10,
    "approvedTopicId": 11,
    "timeOut": 1440,
    "validatePrice": true,
    "minimumPhotos": 1,
    "dailyBumpLimit": 2,
    "donationsEnabled": true,
    "enableFaq": true,
    "faqAllowInGroups": boolean,
    "faqMaxButtonsPerRow": 3,
    "faqMaxDepth": null
}